:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: #111111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

p {
  margin-bottom: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

strong {
  font-weight: 600;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  overflow-y: scroll;
}

/* input:active,
input:focus,
button:active,
button:focus {
  outline: #5d5d5d solid 1px;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
